<section id="main" class="nopacity">
  <header>
    <span class="avatar"><%= image_tag('thai-food.jpg')%></span>
    <h3>Today's lunch is</h3>
    <h1><%= link_to @restaurant.title, @restaurant %></h1>
    <p>The last time we visited was <%= time_ago_in_words(@restaurant.last_visited) %> ago</p>
  </header>
  <!-- <hr /> -->
  <!-- <form method="post" action="#"> -->
  <!--   <div class="field"> -->
  <!--     <input type="checkbox" id="human" name="human" /><label for="human">I'm attending</label> -->
  <!--   </div> -->
    <!-- <div class="field"> -->
    <!--   <label>Are you attending?</label> -->
    <!--   <input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label> -->
    <!--   <input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label> -->
    <!-- </div> -->
    <!-- <ul class="actions"> -->
    <!--   <li><a href="#" class="button">Submit</a></li> -->
    <!-- </ul> -->
  <!-- </form> -->
  <!-- <hr /> -->
  <footer>
    <div id="rating" class="center"></div> 
  </footer>

</section>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    $(".nopacity").animate({opacity: 0.95}, 150);

    $("#rating").rateYo({
      starWidth: "50px",
      rating: <%= @restaurant.average_rating %>,
      ratedFill: "#F0CE4E",
      readOnly: true
    });
  });
</script>
