<!DOCTYPE html>
<html>
<head>
  <title>Lunchly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <%= yield %>

    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Robert Qualls</li>
        <li>Design: <a href="http://robertqualls.com">RQ</a> and <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>
  </div>

</body>
</html>
